<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # If the request isn't already for the public folder, force it there
    RewriteCond %{REQUEST_URI} !^/flowslot/public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
